@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 2rem;
}

.clickMe {
    height: 10rem;
    width: 20rem;
    font-size: 2rem;
    border-radius: 2px;
    font-family: "Amiko", sans-serif;
    border: 3px solid #40EAFF;
    background-color: #26484D;
    color: white;
    text-transform: uppercase;
}

.clickMe:hover {
    cursor: pointer;
    background-color: #1A2B17;
}

.dn {
    position: absolute;
    z-index: -1;
}

.clear {
    opacity: 0;
    transition: all 2s linear;
}
.spin{
    transform: rotate(360deg) scale(2);
    transition: all 1s linear;
}